<!DOCTYPE html>
<html>
    <head>
        <style>
            
            h1{
                text-align: center;
            }
            h2 {
                border-bottom: 2px solid blue; /* Creates a blue line under the heading */
                display: inline-block; /* Ensures the line doesn't span the entire width */
                padding-bottom: 5px; /* Adds some space between the text and the line */
            }
        </style>
        <h1>CONTACT DETAILS</h1></head>
        <hr>

<body>
    <p>
        <h2>STAFF INCHARGE</h2><br>

 
Chief Warden

Dr. Manoj George, Principal<br>

Staff In Charge (Girls Hostels)

Dr. C Sheela, Vice Principal<br>

Staff In Charge (Boys Hostels)

Mr. Shinto Sebastian, Public Relations Officer <br>



<h2>UG HOSTEL (BOYS)</h2><br>

 
Wardens

Mr. James T A
Mr. Symon P<br>


<h2>U G HOSTEL (GIRLS)</h2><br>

Senior Warden

Ms. Ambika K<br>
Office Assistant cum Warden

Ms. Divyamol M G<br>
Assistant Warden

Ms.Saly Mathew<br>

Junior Assistant 

Ms. Shiny K V<br>

 

<h2>CONTACT NUMBERS</h2><br>

 


UG HOSTEL (Boys)

0484 2725263<br>



UG HOSTEL (Girls)

0484272529<br>


    </p>
</body>
</html>