<!DOCTYPE html>
<html>
<head>
  <!-- <title>W3.CSS Template</title> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
    *{
      margin: auto;
    }
    h2,p{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: x-large;
    }
    h3{
      text-align: center;
    }
    h1{
        text-align: center;
        font-size: 50px;
        padding: 25px;
        font-family: serif;
    }
  </style>
</head>
<body>

  <div style="max-width:1400px">
    <header> 
      <h1>HOSTEL</h1>
      <h3>“Hostel is a Home away from Home”</h3><br>
    </header>
  <div >


  <div>
    <h2><b><b> Residential Accommodation</b></b></h2><br>
      <div>
        <p>FISAT has always aimed for and is committed to achieving excellence. The same may be stated for the hostel facilities at the university. FISAT provides housing for 1200 students on campus that is both affordable and of excellent quality. <br>The infrastructure is modern, and the setting is conducive to learning and recreational activities.

          As a result of the rigorous design and excellent implementation, students will have more personal space. The ambiance is calm, serene, and secure, having a homey feel <br>about it.<br> There are two blocks in both the boys and girls hostels.
          
          Being close to the city benefits students since it allows them more flexibility and freedom to meet their needs. Because we believe in the phrase "Healthy minds reside in healthy bodies," students are encouraged to use the fitness centre and sports facilities given in the College and hostel blocks. <br>The male hostel has a capacity of 600 people, while the female hostel has a capacity of 600 people. A cutting-edge fitness centre is open to both boys and girls.
          
          Modern amenities are available in the kitchens and mess halls. The hostel has a strict hygiene policy and disposes of garbage using biogas and waste water treatment technology.<br> A trained psychologist is also on hand on campus to ensure the well being of the hostel residents' well-being. Students can grow and learn in a pleasant and stress-free environment thanks to alert wardens and robust security systems.</p>
        
      </div>
    <br><br>
    <div >
    <img src="/static/images/image4.jpg" alt="HOSTEL" style="width:100%">
    
    </div>

  </div>
</body>
</html>
