<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Suggestion List</title>
</head>
<body>
   <h1>Suggestion List</h1>
   <table>




       <thead>
           <tr>
               <th>Food Suggestions</th>
           </tr>
       </thead>
       <tbody>


           {% for s in suggestions %}
           <tr>
              
               <td>{{ s.sugg }}</td>
            </tr>
           {% endfor %}
       </tbody>
   </table>
</body>
</html>