/* body {
    line-height: 1.6;
    margin: 2em;
}

th {
    background-color: #001f3f;
    color: #fff;
    padding: 0.5em 1em;
}

td {
    border-top: 1px solid #eee;
    padding: 0.5em 1em;
}

input {
    cursor: pointer;
}

Column types
th.missed-col {
    background-color: #f00;
}

td.missed-col {
    background-color: #ffecec;
    color: #f00;
    text-align: center;
}

.name-col {
    text-align: left;
}

p
{
    color:rgb(12, 40, 65) ;
    font-size: 50px;
    font-weight:100;
    position: absolute;
    top:0px;
    left: 500px;
    padding:17px;
    font-family: 'Montserrat', sans-serif;
} 



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@700&family=Libre+Baskerville&family=Montserrat:ital,wght@0,200;1,200&family=Noto+Serif&family=Oxygen:wght@300&display=swap" rel="stylesheet"> */ 
